
body{
    background-color: aqua;
    color: black;
    background-attachment: fixed;
}

.img-responsive{
    justify-items: center;
    padding: 4px;
    width: 600px;
    height: 600px;
} 

.article-card{
    min-block-size: 1000px;
    min-height: 1000px;
}

h3{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    font-weight: 500;
    font-size: 40px;
    color: blue;
    margin-top: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4{
    padding-left: 70px;
    padding-top: 10p;
    font-weight: 500;
    font-size: x-large;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



h1{
    color: black;
    font-weight: 500;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.description{
    color:black;
    font-size: x-large;
}

.title{
    color: blue;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item{
    justify-content: end;
    justify-items: end;
    align-items: flex-end;
    text-align: end;
    justify-items: right;
}

.btn{
    align-items: center;
    justify-items: center;
    place-items: center;
}

#footer{
    background-color: rgba(5, 5, 5, 0.774);
    color: white;
}