<footer id="footer" >
    <div class="container-fluid">
        <div class="inline-ul text-center d-flex justify-content-center" id="Contact-icons" >
            <a class="icons-sm tw-ic px-4" href="https://twitter.com/login"><i class="fa fa-twitter"></i></a>
            <a class="icons-sm li-ic px-4" href="https://wa.me/0713925352" ><i class="fa fa-whatsapp"></i></a>
            <a class="icons-sm ins-ic px-4" href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"> </i></a>
        </div>
        <p class="text-center"> Copyright Maureen Muriithi 2022</p>
    </div>
</footer>