{% extends 'base.html' %}
{% import 'macros.html' as macro  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Your favorite News App</title>
    {% endif %}
</head>
<body>
    <!-- Styles block -->
    {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}

    {% block content %}
    <br>
    <h1>{{ heading }}</h1>
    <br>
    <!-- Search button section -->
    <div class="container-fluid">
        <form style="padding-left: 200px; padding-right: 200px;" >
            <input type="text" name="article_query" placeholder="Search for an Article" class="form-control" >
            <input type="submit"  value="Submit" class="btn btn-default" style="justify-items: center; padding-top: 5px;" >
        </form>
    
    </div>
    <br>
    <hr style="background-color: blue; height: 5px; width: 1100px;">
    <br> <br>
    <div class="sources">
        <h4> <a href="#SA" style="font-style: italic;"> TOP HEADLINES - SOUTH AFRICA </a> </h4>
        <h4> <a href="#States" style="font-style: italic;" > TOP HEADLINES - U.S </a> </h4>
        <h4> <a href="#Germany" style="font-style: italic;" > TOP HEADLINES - GERMANY </a> </h4>
    </div>

    
    <div class="container-fluid">
        <!-- Popular news section  -->
        <h3 class="text-center">TOP HEADLINES IN U.S</h3>
        <ul id="States">
            {{ macro.displayNewsList(us)}}
        </ul>
        <br>
        <h3 class="text-center">TOP HEADLINES IN GERMANY</h3>
        <ul id="Germany">
            {{ macro.displayNewsList(de) }}
        </ul>
        <br>
        <h3 class="text-center">TOP HEADLINES IN SOUTH AFRICA</h3>
        <ul id="SA" >
            {{ macro.displayNewsList(za) }}
        </ul>
    </div>
        
        
    {% endblock %}
</body>
</html>