
{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
        <div class=" col-md-6 article-card">
            <img src="{{ news.image }}" alt="{{ news.name }}" class="img-responsive">
            <br><br>
            <p class=" title text-center">
                <a href="{{ news.url }}">
                    {{ news.title }}
                </a>
                <br>
                {{ news.author}}, {{news.publishedAt}}
            </p>
            <br>
            <p class="description text-center">
                {{news.description}}
            </p>
            <P class="text-center" style="color: blue; font-size: x-large; font-style: italic; text-decoration: underline;"><a href="{{ news.url }}">
                Read Full Article
            </a></P>
            <br> <br>
        </div>

    {% endfor %}

{% endmacro %}

{% macro displaySourcesList(sources) %}

    {% for source in sources %}
            <div class=" col-md-6 source-card">
                <p class="description text-center">
                    {{source.description}}
                </p>
                <p class=" title text-center"> Source: {{ source.name }}</p>
                <p class=" title text-center"> Category: {{ source.category}}</p>
                <p class=" title text-center"> Country: {{ source.country }}</p>                
                <br>
                <P class="text-center" style="color: blue; font-size: x-large; font-style: italic; text-decoration: underline;"><a href="{{ source.url }}">
                    Read Full Article
                </a></P>
                <br> <br>
            </div>
        

    {% endfor %}

{% endmacro %}